PORT=5000
MONGODB_URI=mongodb+srv://shubhamkarade:Shu@#_1196&k@cluster0.q0nqzcr.mongodb.net/portfolio
EMAIL_USER=infoshubham1196@gmail.com
EMAIL_PASSWORD=Shubham@#_786
CORS_ORIGIN=http://localhost:3000
